<a href="https://colab.research.google.com/github/trushpatel97/SQLtoSPANNER/blob/main/SQL_to_Spanner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import json

In [19]:
import re

In [20]:
dictionary = {"char" : "STRING",
"varchar" : "STRING",
"varchar2" : "STRING",
"nchar" : "STRING",
"nvarchar" : "STRING",
"blob" : "STRING",
"long raw" : "STRING",
"bfile" : "STRING",
"clob" : "STRING",
"nclob" : "STRING",
"long" : "STRING",
"number" : "STRING",
"numeric" : "INT64",
"decimal" : "STRING",
"int" : "INT64",
"smallint" : "INT64",
"binary_float" : "FLOAT64",
"binary_double" : "FLOAT64",
"date" : "DATE",
"datetime" : "TIMESTAMP",
"xml" : "STRING",
"xml" : "STRING",
"dburi" : "STRING",
"xdburi" : "STRING",
"httpuri" : "STRING",
"rowid" : "PRIMARY KEY",
"table":"TABLE"}

In [21]:
with open('Oracle_SQL.txt') as f, open('output.txt', 'w')  as out:
    data = f.read()
    f = open('Oracle_SQL.txt', encoding="utf8")
    sentences = f.read().split("\n")

In [35]:
def getFieldNames(sentences):
  mylist = []
  for i in sentences:
    words = re.sub(r'[^a-zA-Z ;]','',i)
    words = words.replace(r'/\\(.+?\\)/g','').split(" ")
    words = list(filter(None, words))
    for previous, current in zip(words,words[1:]):
      if current.lower() in dictionary:
        mylist.append(previous)
  mylist.pop(0)
  return mylist

In [30]:
def splitFields(mylist):
  size = len(mylist)
  idx_list = [idx + 1 for idx, val in
              enumerate(mylist) if val == "CREATE"]
  res = [mylist[i: j] for i, j in
          zip([0] + idx_list, idx_list + 
          ([size] if idx_list[-1] != size else []))]
  return res

In [ ]:
getFieldNames()